<ul>
  <li>Current version: <code>{{version}}</code></li>
  <li>Next Patch version: <code>{{nextPatchVersion}}</code></li>
  <li>Next Minor version: <code>{{nextMinorVersion}}</code></li>
  <li>Next Major version: <code>{{nextMajorVersion}}</code></li>
</ul>

